.reportcss{
  position: absolute;
  transform: translate(-50%,-50%);
  margin-right: -50%;
  top: 50%;
  left: 50%;
  text-align: center;
  font-weight: bold;
}

.landing {
  margin-top: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.footerText {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.footerText:hover {
  color: black;
}

.AdminPage {
  margin-top: 100px;
}

.FormPage {
  margin-top: 25px;
}

.SelectPage {
  margin-top: 50px;
}

.textsize {
  font-size: 20px;
  font-weight: bold;
  color: black;
}


.backhomeText {
  font-size: 20px;
  text-align: center;
}

.landingImage {
  width: 100%;
  opacity: 0.7;
}